.Selector:hover {
  cursor: pointer
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: '';
  padding: 10px;
  margin: 5px;
}

select:hover {
  cursor: pointer;
}